
.p{
    padding: 0px;
}

.bs{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
    height: 100px;
}

.c{
    margin: auto;
}

.logo{
    width: 200px;
    height: 80px;
    object-fit: contain;
}


.nav-link{
    font-size: 18px;
    color:#2c2c2d;
    margin: 0px 10px;
    font-weight: 400;
    font-family: 'Poppins';
}

.nav-item{
    float: left;
}

.center-box{
    margin: auto;
}

.hover, .hover-active{
    color: #18272F;
    position: relative;
    text-decoration: none;
}

.hover::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #008fee;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.hover:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.sell-btn{
    background-color: #0099ff;
    color:white;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
    border: 1px solid white;
    transform: scale(1);
}

.sell-btn:hover{
    color:white;
    border: 1px solid #008fee;
    transform: scale(1.1);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container-header{
    width: 100%;
    height: 550px;
    background-color: rgb(0, 0, 0 , 0.47);
}

.header-bg{
    background-image: url("../includes/images/bike5-bg.jpg");
    background-size: cover;
    background-position: 50% 90%;
    background-attachment: fixed;
}

.header-box{
    width: 95%;
    height: 40px;
    margin: 15px auto;
}
.up{
    margin-top: 5px;
}
.combo-box-search, .search-textbox, .search-btn{
    width: 20%;
    height: inherit;
    float: left;
    outline: none;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 0px 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.p1{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 7px;
    
}

.icon-search{
    float: left;
    margin-top: 7px;
    position: relative;
    left:10px;
}

.search-textbox{
    width: 80%;
    cursor: text;
}

.search-btn{
    width: 15%;
    background-color: #0099ff;
    color:white;
    font-size: 18px;
    font-weight: 400;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;   
    transition: 0.4s;
}

.search-btn:hover{
    background-color: #008fee;
}

.text-header{
    font-size: 35px;
    margin: 190px 23px 0px;
    color:white;
    font-weight: 500;
    font-family: Helvetica;
}

.smtext-header{
    font-size: 18px;
    margin: 5px 23px 0px;
    color:white;
    font-weight: 500;
    font-family: Helvetica;
}

.container-sort{
    width: 90%;
    margin: auto;
}

.box-sort{
    width: 100%;
    float: left;
}

.sort-txt ,.btn-rel, .btn-latest , .btn-popular , .btn-price-low , .btn-price-high{
    width: 130px;
    height: 40px;
    border: 0px;
    float: left;
    border: 0px solid rgb(173, 181, 189, 0.4);
    background-color: white;
    color: #0099ff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0px 10px 10px 0px;
    padding: 9px 0px;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.sort-txt{
    border: 0px;
    text-align: left;
    width: 80px;
    padding-left: 5px ;
    background-color: #f8f9fa;
    color: #343a40;
    box-shadow: rgba(149, 157, 165, 0.0) 0px 8px 24px;
}

.btn-rel{
    background-color: rgb(0, 153, 255 , 0.9);
    color: white;
}

.btn-price-low, .btn-price-high{
    width: 200px;
}

.container-product{
    width: 90%;
    margin: 30px auto;
}

.box-product{
    width: 100%;
    margin-bottom: 10px ;
    padding:5px 0px 1px;
    transition: 0.3s;
    cursor: pointer;
}

.box-product:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.image-product1, .image-product2 ,.image-product3{
    width: 96%;
    height: 250px;
    display: block;
    margin: auto;
    object-fit: cover;
    object-position: center;
}

.image-product2{
    background-image: url("../includes/images/example-products/bike2-product.jpg");
}

.image-product3{
    background-image: url("../includes/images/example-products/bike3-product.jpg");
}

.text-product{
    font-size: 21px;
    margin: 10px 7px;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
}

.text-price{
    font-size: 16px;
    letter-spacing: 1px;
}

.text-add{
    font-size: 13px;
    font-weight: 400;
    color: #343a40;
    font-family:'Segoe UI';
}

.container-filter{
    width: 100%;
    height: 1000px;
    background-color: white;
    margin: 35px 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    overflow-y: scroll;   
}

.container-box-search-filter{
    width: 100%; 
    padding: 20px;  
}

.box-category{
    width: 100%;
    padding-left: 5px;
    margin-bottom: 30px;
}

.title-filter{
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #343a40;
    
}

.icon-filter, .icon-add{
   height: 20px;
   width: 20px;
   position: relative;
   bottom: 1px;
   margin-right: 5px;
}

.text{
    font-size: 16px;
    font-family: 'Poppins';
    margin: 0px 5px 5px;
    float: left;
    width: 85%;
}

.check-box{
    float: left;
    width: 8%;
}

.title-cate{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Poppins';
}

.form-check-input {
    cursor: pointer;
}

.end-line{
  background-color:  #495057;
}

.c1{ background-color: red; }
.c2{ background-color: blue; }
.c3{ background-color: #f8f9fa;}
.c4{background-color: #008fee;}

.footer{
    background-color:#008fee;
    padding: 50px 0px;
}

.f-title, .f-smtxt{
    font-size:18px;
    color: white;
    font-family: 'Roboto', sans-serif; 
    font-weight: 600;
    margin-top: 30px;
    letter-spacing: 2px;
}

.f-smtxt{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0px;
    letter-spacing: 0px;
}

.f-smtxt1{
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    color:white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 5px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:white;
}

.container-pagination{
    width: 90%;
    margin: 30px auto;
}

@media only screen and (max-width: 800px) {
    .p1 {
      display:none;
    }

    .icon-search{
        bottom: 3px;
    }
}
