body{
    margin: 0;
    background-color: #add8e6;
    background-image: url("../includes/images/bg-login.svg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.r { height: 190px;}

.c1{ background-color: red;}

.box{
    background-color: white;
    height: 600px;
    width: 93%;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    animation-name: fade;
    animation-duration: 1.1s;
    position: relative;
    transition: 1.1s;
    bottom:0px;

}

.logo{
    width: 150px;
    margin:80px 0px 15px;
}

.title{
    font-size: 26px;
    font-weight: bolder;
    font-family: 'Noto Sans', sans-serif;
    color: #212529;
    margin-bottom: 30px;
}

.user, .pass{
    width: 80%;
    background-color: white; 
    height: 43px;
    margin: 20px auto;
    border-radius: 20px;
    border: 0px solid #adb5bd;
    padding-left: 10px;
    transition: 0.3s;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.pass{
    margin-bottom: 5px;
}

.usertxt, .passtxt{
    width: 80%;
    height: 38px;
    border: 0px;
    outline: none;
    float: left;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #212529;
    padding-top: 2px;
    transition: all 0.1s ease;
}



.icon-user , .icon-pass{
    background-image: url("../includes/images/icons-user.png");
    background-repeat: no-repeat;
    background-position: 50% 47%;
    float: left;
    width: 10%;
    height: 40px;
    margin-right: 10px;
}

.icon-pass{
    background-image: url("../includes/images/icons-lock.png");
}

.login-btn{
    border-radius: 30px;
    width:80%;
    padding: 6px;
    border: 0px;
    background-color: #0099ff;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.3s;
    margin-top: 20px;
}

.login-btn:hover{
    background-color: #0084dd;
}

.p1, .p3{
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.p2{
    color:#0099ff ;
}

.p3{
    margin: 1px 60px;
    float: right;
    color:#212529;
    font-size: 14px;
}

.p2:hover{
    color:#0084dd  ;
}

.p3:hover{
    color:#212529;
}

@keyframes fade {
    0%   {opacity:0.1; bottom:30px}
    100% {opacity:1; bottom:0px}
  }



















