body{
    margin: 0px;
}

/*nav bar*/
.bs{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    position: fixed;
    width: 101%;
    background-color: white;
    z-index: 100;
    height: 100px;
}

.c{
    margin: auto;
}

.logo{
    width: 200px;
    height: 80px;
    object-fit: contain;
}


.nav-link{
    font-size: 18px;
    color:#2c2c2d;
    margin: 0px 10px;
    font-weight: 400;
    font-family: 'Poppins';
}

.nav-item{
    float: left;
}

.center-box{
    margin: auto;
}

.hover, .hover-active{
    color: #18272F;
    position: relative;
    text-decoration: none;
}

.hover::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #008fee;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.hover:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.sell-btn{
    background-color: #0099ff;
    color:white;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
    border: 1px solid white;
    transform: scale(1);
}

.sell-btn:hover{
    color:white;
    border: 1px solid #008fee;
    transform: scale(1.1);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container-image{
    width: 95%;
    margin: auto;
}
.image{
    width: 100%;
    object-fit: cover;
}

.container-txt , .containter-box{
    width: 95%;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.smtitle{
    font-size: 15px;
    color: #008fee;
    font-weight: 500;
    margin-top: 10px;
}

.title{
    font-size: 35px;
    color: #18272F;
    font-weight: 600;
}

.txt-price{
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 30px;
}

.txt-con{
    font-size: 14px;
    color: #274c77;
    font-weight: 600;
}

.txt-con1{
    font-size: 18px;
    font-weight: 500;
    color: #18272F;
}

.container-box{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    width: 90%;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: gray;
    float: left;
    margin-right: 10px;
}

.top{
    width: 80%; 
    float: left;
}

.info{
    padding-top: 2px;
}

.chat-btn{
    width: 100px;
    height: 30px;
    background-color: #008fee;
    color: white;
    border: 0px;
    border-radius: 20px;
}

.container-review{
    width: 100%;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
}

.title-review{
    font-size: 18px;
    font-weight: 600;
}

.review-box{
    width: 100%;
    padding: 5px;
}

.user-avatar{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    float: left;
    margin-right: 15px;
    background-image: url("../includes/images/icons-user.png");
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ced4da;
    margin-top: 5px;
}

.user-name{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.star{
   font-size:150%;
   color:#52b788;
   position: relative;
   bottom:5px;
   float: left;
}

.user-txt{
    font-size: 16px;
}

.c1{background-color: red;}
.c2{background-color: #008fee;}



.footer{
    background-color:#008fee;
    padding: 50px 0px;
}

.f-title, .f-smtxt{
    font-size:18px;
    color: white;
    font-family: 'Roboto', sans-serif; 
    font-weight: 600;
    margin-top: 30px;
    letter-spacing: 2px;
}

.f-smtxt{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin: 0px;
    letter-spacing: 0px;
}

.f-smtxt1{
    font-weight: 400;
    font-size: 14px;
    margin: 0px;
    color:white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 5px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:white;
}