body{
    margin: 0;
    background-color: #add8e6;
    background-image: url("../includes/images/bg-regitser1.svg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.r { height: 90px;}

.c1{ background-color: red;}

.box{
    background-color: white;
    padding-bottom: 40px;
    width: 98%;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    animation-name: fade;
    animation-duration: 1.1s;
    position: relative;
    transition: 1.1s;
    bottom:0px;

}

.logo{
    width: 150px;
    margin:50px 0px 15px;
}

.title{
    font-size: 26px;
    font-weight: bolder;
    font-family: 'Noto Sans', sans-serif;
    color: #212529;
    margin-bottom: 30px;
}

.contain-item{
    width: 80%;
    margin: 20px auto;
}

.txtbox{
    font-family: 'Inter', sans-serif;
    color: #212529;
    font-size: 15px;
    font-weight: bold;
    height: 45px;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border: 0px;
}


.checkbox{
    float: left;
    margin-right: 13px;
    margin-left: 5px;
    cursor: pointer;
}

.f1{
    font-family: 'Roboto', sans-serif;
}

.login-btn{
    border-radius: 30px;
    width:80%;
    padding: 6px;
    border: 0px;
    background-color: #0099ff;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.3s;
    margin-top: 25px;
}

.login-btn:hover{
    background-color: #0084dd;
}

.p1{
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit; 
}

.p2{
    color:#0099ff ;
}

.form-check-label{
    color:#212529;
    font-size: 14px;
    float: left;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-top: 1px;

}

.p2:hover{
    color:#0084dd  ;
}

.p3{
    color:#212529;
    border-bottom: 1px solid gray;
}

.lst{
    position: relative;
    bottom:7px;
}


@keyframes fade {
    0%   {opacity:0.1; bottom:30px}
    100% {opacity:1; bottom:0px}
  }



















